@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.4s linear;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.breadcrumbs {
  padding: 20px 0 23px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #8b8b8b;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:after {
  content: "";
  background: #8b8b8b;
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.breadcrumbs li a {
  color: #8b8b8b;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}

.payments-page {
  background: #f8f8f8;
}
.payments-page__header {
  padding-bottom: 30px;
}
.payments-page__header .page-title {
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}
.payments-page__content {
  padding-bottom: 80px;
}
.payments-page__filter {
  display: flex;
}
.payments-page__filter-item {
  background: #FFFFFF;
  font-size: 14px;
  color: #8b8b8b;
  border-radius: 100px;
  border: 1px solid #E9E9E9;
  margin-right: 8px;
  cursor: pointer;
  padding: 12px 16px 9px;
}
.payments-page__filter-item:last-child {
  margin-right: 0;
}
.payments-page__filter-item:hover {
  background: #F7FBF9;
  border-color: #149E4C;
  color: #149E4C;
}
.payments-page__filter .active {
  background: #F7FBF9;
  border-color: #149E4C;
  color: #149E4C;
}
.payments-page__list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.payments-page__list-item {
  background: #FFFFFF;
  width: 23.6%;
  border-radius: 2px;
  box-shadow: 0 4px 20px #F1F1F1;
  padding: 10px 24px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
}
.payments-page__list-item:nth-child(4n) {
  margin-right: 0;
}
.payments-page__list-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.payments-page__list-name {
  margin-top: 25px;
  font-size: 18px;
  color: #050A0A;
  letter-spacing: -0.01em;
}
.payments-page__list-btn {
  margin-top: 23px;
  font-size: 14px;
  color: #149E4C;
  border: 1px solid #ebebeb;
  width: 100%;
  text-align: center;
  padding: 15px 10px 12px;
}
.payments-page__list-btn:hover {
  background: #149E4C;
  color: #FFFFFF;
  border-color: #149E4C;
}
.payments-page__all {
  display: none;
}
.payments-page__all .payments-page__list {
  margin-top: 0;
}
.payments-page .toggle-list {
  display: block;
}
.payments-page__more {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  cursor: pointer;
  border-radius: 2px;
}
.payments-page__more:hover .providers-page__more-btn:before {
  transform: rotate(180deg);
}
.payments-page__more-btn {
  color: #FFFFFF;
}
.payments-page__more-btn:before {
  content: "";
  background: url("../img/load-icon.svg") no-repeat 0 0/contain;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 1px 17px 0 0;
  transition: 0.5s linear;
}

@media screen and (max-width: 1200px) {
  .payments-page__header {
    padding: 0 15px 30px;
  }
  .payments-page__content {
    padding: 0 15px 80px;
  }
  .payments-page__list-item {
    width: 23.4%;
  }
}
@media screen and (max-width: 1023px) {
  .payments-page__header {
    padding: 0 15px 20px;
  }
  .payments-page__header .page-title {
    font-size: 36px;
    line-height: 40px;
  }
  .payments-page__filter-item {
    padding: 10px 16px 7px;
  }
  .payments-page__list-item {
    width: 31.4%;
    margin-right: 20px;
  }
  .payments-page__list-item:nth-child(4n) {
    margin-right: 20px;
  }
  .payments-page__list-item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .payments-page__header .page-title {
    font-size: 24px;
    line-height: 32px;
  }
  .payments-page .payments-page__filter::-webkit-scrollbar {
    display: none;
  }
  .payments-page__filter {
    overflow-x: scroll;
    margin-right: -15px;
  }
  .payments-page__list-img {
    width: 60px;
    height: 60px;
  }
  .payments-page__list-name {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 17px;
  }
  .payments-page__list-btn {
    margin-top: 18px;
  }
  .payments-page__list-item {
    width: 48.3%;
    height: 220px;
    padding: 10px 15px;
    margin: 0 10px 10px 0;
  }
  .payments-page__list-item:nth-child(4n) {
    margin-right: 10px;
  }
  .payments-page__list-item:nth-child(3n) {
    margin-right: 10px;
  }
  .payments-page__list-item:nth-child(even) {
    margin-right: 0;
  }
  .payments-page__more {
    font-size: 14px;
    padding-top: 1px;
  }
  .payments-page__more-btn:before {
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 374px) {
  .payments-page .breadcrumbs {
    padding: 20px 0 13px;
  }
  .payments-page__list-item {
    width: 47.9%;
    height: 180px;
  }
  .payments-page__list-img {
    width: 50px;
    height: 50px;
  }
  .payments-page__list-name {
    margin-top: 15px;
  }
  .payments-page__list-btn {
    margin-top: 15px;
    padding: 10px 10px 7px;
    font-size: 12px;
    line-height: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
