$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$light-green: #F0F9F4
$white: #FFFFFF

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .4s linear
  display: inline-block
  border-radius: 2px
  text-align: center

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.breadcrumbs
  padding: 20px 0 23px
  li
    display: inline-block
    margin-right: 10px
    font-size: 12px
    color: $gray-semi
    &:last-child
      &:after
        display: none
    &:after
      content: ''
      background: $gray-semi
      width: 15px
      height: 1px
      display: inline-block
      vertical-align: top
      margin: 5px 0 0 10px
    a
      color: $gray-semi
      &:hover
        text-decoration: underline

.payments-page
  background: $light
  &__header
    padding-bottom: 30px
    .page-title
      font-size: 44px
      line-height: 52px
      color: $dark
      font-family: $font-otomarine
  &__content
    padding-bottom: 80px
  &__filter
    display: flex
    &-item
      background: $white
      font-size: 14px
      color: $gray-semi
      border-radius: 100px
      border: 1px solid #E9E9E9
      margin-right: 8px
      cursor: pointer
      padding: 12px 16px 9px
      &:last-child
        margin-right: 0
      &:hover
        background: #F7FBF9
        border-color: $green-default
        color: $green-default
    .active
      background: #F7FBF9
      border-color: $green-default
      color: $green-default
  &__list
    margin-top: 30px
    display: flex
    flex-wrap: wrap
    &-item
      background: $white
      width: 23.6%
      border-radius: 2px
      box-shadow: 0 4px 20px #F1F1F1
      padding: 10px 24px
      margin-right: 20px
      margin-bottom: 20px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      height: 260px
      &:nth-child(4n)
        margin-right: 0
    &-img
      width: 80px
      height: 80px
      border-radius: 50%
      overflow: hidden
    &-name
      margin-top: 25px
      font-size: 18px
      color: $dark
      letter-spacing: -0.01em
    &-btn
      margin-top: 23px
      font-size: 14px
      color: $green-default
      border: 1px solid $gray-light
      width: 100%
      text-align: center
      padding: 15px 10px 12px
      &:hover
        background: $green-default
        color: $white
        border-color: $green-default
  &__all
    display: none
    .payments-page__list
      margin-top: 0
  .toggle-list
    display: block
  &__more
    margin-top: 20px
    display: flex
    justify-content: center
    align-items: center
    height: 46px
    cursor: pointer
    border-radius: 2px
    &:hover
      .providers-page__more-btn
        &:before
          transform: rotate(180deg)
    &-btn
      color: $white
      &:before
        content: ""
        background: url("../img/load-icon.svg") no-repeat 0 0/contain
        width: 15px
        height: 15px
        display: inline-block
        vertical-align: top
        margin: 1px 17px 0 0
        transition: .5s linear