.payments-page
  .payments-page__header
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li Payments
      h1.page-title Payment Option
  .payments-page__content
    .content-center
      ul.payments-page__filter
        li.payments-page__filter-item.active All
        li.payments-page__filter-item Cards
        li.payments-page__filter-item eWallet
        li.payments-page__filter-item Phone
        li.payments-page__filter-item CryptoCurrency
        li.payments-page__filter-item Other
      ul.payments-page__list
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-1.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-2.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-3.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-4.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-5.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-6.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-7.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-1.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-1.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-2.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-3.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-4.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-5.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-6.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-7.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-1.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-1.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-2.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-3.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-4.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-5.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-6.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-7.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
        li.payments-page__list-item
          .payments-page__list-img
            img(src="img/payments-1.png" alt="")
          .payments-page__list-name Skrill
          a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
      .payments-page__all
        ul.payments-page__list
          li.payments-page__list-item
            .payments-page__list-img
              img(src="img/payments-1.png" alt="")
            .payments-page__list-name Skrill
            a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
          li.payments-page__list-item
            .payments-page__list-img
              img(src="img/payments-2.png" alt="")
            .payments-page__list-name Skrill
            a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
          li.payments-page__list-item
            .payments-page__list-img
              img(src="img/payments-3.png" alt="")
            .payments-page__list-name Skrill
            a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
          li.payments-page__list-item
            .payments-page__list-img
              img(src="img/payments-4.png" alt="")
            .payments-page__list-name Skrill
            a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
          li.payments-page__list-item
            .payments-page__list-img
              img(src="img/payments-5.png" alt="")
            .payments-page__list-name Skrill
            a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
          li.payments-page__list-item
            .payments-page__list-img
              img(src="img/payments-6.png" alt="")
            .payments-page__list-name Skrill
            a(href="#").btn.payments-page__list-btn 35 Casino with Skrill
      .payments-page__more.green-btn
        .payments-page__more-btn Show All (#[span.amount 14])